---
import { getLangFromUrl , useTranslations} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

return Astro.redirect('/'+lang);
---

<div>
      <h1>{t('Page Not Found')}</h1>
    </div>
  