---
import iybssdLogoFr from '../../images/Logo-IYBSSD-small-FR.png';
import iybssdLogo from '../../images/Logo-IYBSSD-small-EN.png';
import JD from '../../images/jacques_dubochet.webp';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import { Image } from 'astro:assets';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class="container"
  style={{
    background: 'white',
    fontSize: '20px',
    display: 'flex',
    justifyContent: 'center',
    alignItems: 'center',
    width: '100%',
    gap: '20px',
  }}
>
  <div class="my-4" style={{ width: '100px', height: 'auto' }}>
    {
      (
        <Image
          src={lang === 'fr' ? iybssdLogoFr : iybssdLogo}
          alt="IYBSSD logo"
          style={{ width: '100px', height: 'auto' }}
        />
      )
    }
  </div>
  <div class="my-4">
    {t('APPROVAL_IYBSSD')}
  </div>
</div>

<div
  style={{
    background: '#c7f1bf',
    fontSize: '20px',
  }}
>
  <div
    class="container py-4"
    style={{
      display: 'flex',
      justifyContent: 'center',
      alignItems: 'center',
      width: '100%',
      gap: '20px',
    }}
  >
    <div>
      {t('ENDORSED_JACQUES_DUBOCHET')}
    </div>
    <div>
      <Image
        class="rounded-circle ratio-1x1"
        alt="Jacques Dubochet"
        width={100}
        height={100}
        src={JD}
      />
    </div>
  </div>
</div>
