---
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class="container-fluid"
  style={{ backgroundColor: '#cbe6ef', paddingBottom: 30 }}
>
  <div class="container">
    <div class="flexbox">
      <h1 class="text-center my-5" style={{ color: 'black' }}>
        {t('Contact us')}
      </h1>
      {t('CONTACT_FORM_TEXT')}
      <a class="text-center mt-3" href="mailto:philippe.kobel@gmail.com">
        <button class="btn btn-light mb-4 py-3" type="submit">
          {t('SEND_EMAIL_BUTTON')}
        </button></a
      >
    </div>
  </div>
</div>
