---
interface Props {
  title: string;
  url: string;
  thumbnailSrc: string;
}
const { title, url, thumbnailSrc } = Astro.props;
---

<div
  class="col-xl-4 col-md-6 col-sm-12 p-3"
  style={{
    boxSizing: 'border-box',
    textAlign: 'center',
  }}
>
  <div
    class="gap-3"
    style={{
      width: '100%',
      boxSizing: 'border-box',
      background: 'white',
      height: '100%',
      borderRadius: '20px',
      overflow: 'hidden',
    }}
  >
    <div>
      <img
        class="mb-2"
        alt={`${title} thumbnail`}
        src={thumbnailSrc}
        width={'100%'}
        height={200}
        style={{
          objectFit: 'cover',
          objectPosition: '50% 40%',
        }}
      />
      <div class="p-3" style={{ textAlign: 'center', color: 'darkslategrey' }}>
        <h3>
          <a
            href={url}
            class="activityTitle"
            target="_blank"
            rel="noreferrer noopener"
          >
            {title}
          </a>
        </h3>
      </div>
    </div>
  </div>

  <style>
    .activityTitle {
      color: inherit;
      text-decoration: none;
    }

    .activityTitle:hover {
      color: #7e9fb5;
      text-decoration: none;
    }
  </style>
</div>
