---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
interface Props {
  url: string;
  alt: string;
  src: ImageMetadata;
}
const { url, alt, src } = Astro.props;
---

<a href={url} target="_blank" rel="noreferrer">
  <Image class="image" src={src} alt={alt} />
</a>

<style>
  a {
    max-height: 40px;
  }
  .image {
    width: 100%;
    height: auto;
    max-height: 40px;
  }
</style>
